@model List<venhaparaoleds.Models.Concurso>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h2>Busca de Concursos e Candidatos</h2>

<div class="Home-Box"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Candidatos">Candidato</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Concursos">Concursos</a></div>